table{
    td, th {
        &:nth-child(1){
            width: auto;
        }
        &:nth-child(2){
            width: auto;
        }
        &:nth-child(3){
            width: 1rem;
        }
     }
}