
// actor checkboxes

@mixin customActorStyle($primary, $secondary, $from, $to, $siteBackground) {

    &.s-checkbox,
    &.s-checkbox-round,
    &.s-radio {
        input+label::after {
            border: 1px solid $primary !important;
        }
    }

    &.s-checkbox {
        input {
            &:checked+label::after {
                background: $primary !important;
                border-color: $primary !important;
            }
        }
    }

    &.s-radio {

        input {

            &:checked+label:after {
                background: #fff !important;
                border-color: $primary !important;
            }

            &:checked+label:before {
                background: $primary !important;
            }
        }
    }

    &.s-checkbox-round {

        input {

            &:checked+label:after {
                background: $primary !important;
                border-color: $primary !important;
            }
        }
    }

    &.s-checkbox-slider {

        input:checked+label {
            .slider-bg {
                background: $primary !important;
            }

            .slider-handle {
                background: #fff !important;
                border-color: $primary !important;
            }
        }
    }
}

.student-checkbox-custom {
    @import 'themes/student-male.scss';
    @include customActorStyle($primary, $secondary, $from, $to, $siteBackground);
}

.hod-checkbox-custom {
    @import 'themes/hod.scss';
    @include customActorStyle($primary, $secondary, $from, $to, $siteBackground);
}

.teacher-checkbox-custom {
    @import 'themes/teacher.scss';
    @include customActorStyle($primary, $secondary, $from, $to, $siteBackground);
}

.parent-checkbox-custom {
    @import 'themes/parent.scss';
    @include customActorStyle($primary, $secondary, $from, $to, $siteBackground);
}

.admin-checkbox-custom {
    @import 'themes/admin.scss';
    @include customActorStyle($primary, $secondary, $from, $to, $siteBackground);
}

//black-checkbox $ black-radio

.s-checkbox.black-checkbox,
.s-checkbox-round.black-checkbox-round,
.s-radio.black-radio {
    input+label::after {
        border: 1px solid #000 !important;
    }
}

.s-checkbox.black-checkbox {
    input {
        &:checked+label::after {
            background: #000 !important;
            border-color: #000 !important;
        }
    }
}

.s-radio.black-radio {
    input {

        &:checked+label:after {
            background: #fff !important;
            border-color: #000 !important;
        }

        &:checked+label:before {
            background: #000 !important;
        }
    }
}

// green checkbox & green-radio

.s-checkbox.green-checkbox,
.s-checkbox-round.green-checkbox-round,
.s-radio.green-radio {
    input+label::after {
        border: 1px solid #66bb69 !important;
    }
}

.s-checkbox.green-checkbox {
    input {
        &:checked+label::after {
            background: #66bb69 !important;
            border-color: #66bb69 !important;
        }
    }
}

.s-radio.green-radio {
    input {

        &:checked+label:after {
            background: #fff !important;
            border-color: #66bb69 !important;
        }

        &:checked+label:before {
            background: #66bb69 !important;
        }
    }
}

// red checkbox & red-radio

.s-checkbox.red-checkbox,
.s-checkbox-round.red-checkbox-round,
.s-radio.red-radio {
    input+label::after {
        border: 1px solid #fd8268 !important;
    }
}

.s-checkbox.red-checkbox {
    input {
        &:checked+label::after {
            background-image: linear-gradient(to bottom, #ff5c6a, #ff3b30);
            border-color: #fd8268 !important;
        }
    }
}

.s-radio.red-radio {
    input {

        &:checked+label:after {
            background-image: linear-gradient(to bottom, #ff5c6a, #ff3b30);
            border-color: #fd8268 !important;
        }

        &:checked+label:before {
            background-image: linear-gradient(to bottom, #ff5c6a, #ff3b30);
        }
    }
}

//
.assignment-checkbox-custom {
    @include customActorStyle(#ff79a6,#ff79a6, #ff79a6, #ff79a6, #ff79a6);
}
.event-checkbox-custom {
    @include customActorStyle(#007bbc, #007bbc, #007bbc, #007bbc, #007bbc);
}
.quiz-checkbox-custom {
    @include customActorStyle(#57429a, #57429a, #57429a, #57429a, #57429a);
}