.container {
    max-width: none;
}
.sidebar-active {
    overflow: hidden;
    .main-content {
        filter: blur(2px)
    }
}
.container-responsive{
    overflow: auto;
}

@for $i from 0 through 10 {
    .mb-#{$i}-tab {
        margin-bottom: (0.3125rem * $i) !important;
    }

    .mt-#{$i}-tab {
        margin-top: (0.3125rem * $i) !important;
    }

    .mlr-#{$i}-tab {
        margin-right: (0.3125rem * $i) !important;
        margin-left: (0.3125rem * $i) !important;
    }

    .mtb-#{$i}-tab {
        margin-top: (0.3125rem * $i) !important;
        margin-bottom: (0.3125rem * $i) !important;
    }

    .pb-#{$i}-tab {
        padding-bottom: (0.3125rem * $i) !important;
    }

    .pt-#{$i}-tab {
        padding-top: (0.3125rem * $i) !important;
    }

    .plr-#{$i}-tab {
        padding-left: (0.3125rem * $i) !important;
        padding-right: (0.3125rem * $i) !important;
    }

    .ptb-#{$i}-tab {
        padding-top: (0.3125rem * $i) !important;
        padding-bottom: (0.3125rem * $i) !important;
    }
}