<div class="complex-skolera-modal language-switcher-modal">
  <div class="modal-wrapper">
    <div class="close-modal-icon" (click)="closeModal()"></div>
    <div class="modal-content">
      <form action="" #timeGroupForm="ngForm" (ngSubmit)="createTimeGroup()">
        <div class="modal-header">
          <h3 class="steel weight-bold size-default m-0">
            {{'tr_add_time_group' | translate}}
          </h3>
        </div>
        <div class="modal-body weight-medium steel">
          <div *ngIf="!timeGroupLoading">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group"
                  [class.has-error]="(name.invalid && name.dirty) || (timeGroupForm.submitted && name.invalid)">
                  <label>{{'tr_group_name' | translate}}</label>
                  <input type="text" [(ngModel)]="timeGroup.name" name="name" #name="ngModel" required
                    class="s-control">
                  <span class="text-error size-small ml-2 validator">
                    {{'tr_required_field' | translate}}
                  </span>
                </div>


              </div>
              <div class="col-md-6">
                <label>{{'tr_group_type' | translate}}</label>
                <div class="mt-2 flex flex-middle flex-space-between max-600">
                  <div class="flex flex-middle flex-wrap">
                    <span class="s-radio size-small mr-4">
                      <input type="radio" [(ngModel)]="timeGroup.group_type" name="group-type" value="fixed"
                        id="fixed-type">
                      <label for="fixed-type">
                        <span class="capitalize">{{'tr_fixed' | translate}}</span>
                      </label>
                    </span>
                    <span class="s-radio size-small">

                      <input type="radio" [(ngModel)]="timeGroup.group_type" name="group-type" value="shifts"
                        id="shifts-type">
                      <label for="shifts-type">
                        <span class="capitalize">{{'tr_shifts' | translate}}</span>
                      </label>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="timeGroup.group_type == 'fixed'">
              <div class="flex flrx-middle" *ngIf="inValidAllDaysTime">
                <img src="assets/images/imported-layers.svg" class="mr-2 pl-2" alt="">
                <h2 class="text-error weight-medium size-default">
                  {{'tr_clocl_validation_text' | translate}}
                </h2>
              </div>
              <div class="table-container" id="table-container">
                <table class="table s-table time-group layout-fixed">
                  <thead>
                    <th>{{'tr_days' | translate}}</th>
                    <th>{{'tr_off' | translate}}</th>
                    <th>{{'tr_count_as_bridge' | translate}}</th>
                    <th>{{'tr_clock_in' | translate}}</th>
                    <th>{{'tr_clock_out' | translate}}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let day of timeGroup.time_group_schedule_attributes!.schedule_days_attributes!">
                      <td>
                        {{day | json}}
                        <span class="capitalize">{{day.day}} </span>
                      </td>
                      <td>
                        <div>
                          <span class="s-checkbox-slider size-small pr-5">
                            <input type="checkbox" id="{{day.day}}_off" [(ngModel)]="day.is_off" name="dayOff">
                            <label for="{{day.day}}_off">
                              <div class="slider">
                                <span class="slider-bg"></span>
                                <span class="slider-handle"></span>
                              </div>
                            </label>
                          </span>
                        </div>
                      </td>
                      <td class="text-center">
                        <span class="s-checkbox size-small" *ngIf="!day.is_off">
                          <input type="checkbox" id="{{day.day}}}_calculate_bridging" [(ngModel)]="day.calculate_bridging"
                            name="calculateBridge">
                          <label for="{{day.day}}}_calculate_bridging"></label>
                        </span>
                      </td>
                      <td>
                        <div [class.has-error]="(day.invalidTime)">
                          <input *ngIf="!day.is_off" [(ngModel)]="day.clock_in" name="clockIn" #clockIn="ngModel"
                            type="time" (change)="validateClockInOut(day)" class="s-control time-control" required>
                        </div>
                      </td>
                      <td>
                        <div [class.has-error]="(day.invalidTime)">
                          <input *ngIf="!day.is_off" [(ngModel)]="day.clock_out" name="clockOut" #clockOut="ngModel"
                            type="time" (change)="validateClockInOut(day)" class="s-control time-control" required>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div>
          <div *ngIf="timeGroupLoading">
            <app-ghost-line [length]="8" [type]="'table'"></app-ghost-line>
          </div>

          <div class="assign-employees-section">
            <div class="plr-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group mb-0">
                    <label>{{'tr_number' | translate}}</label>
                    <div class="input-with-icon bg-white width-100">
                      <input class="text" (keyup)="filterEmployees($event,'by_number')" class="s-control"
                        placeholder="{{'tr_search_by_number' | translate}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-0">
                    <label>{{'tr_name' | translate}}</label>
                    <div class="input-with-icon bg-white width-100">
                      <input class="text" class="s-control" (keyup)="filterEmployees($event,'by_name')"
                        placeholder="{{'tr_search_by_name' | translate}}">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-0">
                    <label>{{'tr_department' | translate}}</label>
                    <div class="input-with-icon bg-white width-100">
                      <ng-select class="s-control s-select"
                        (change)="filterEmployees(selectedDepartment,'by_department_name')" bindValue="name"
                        (scrollToEnd)=nextBatch() bindLabel="name" [loading]="departmentsLoading"
                        placeholder="{{'tr_select' | translate}}" notFoundText="{{'tr_no_items_found' | translate}}"
                        (clear)="filterEmployees('','by_department_name')" autofocus [(ngModel)]="selectedDepartment"
                        [items]="departments" name="department">
                        <ng-template ng-header-tmp>
                          <div class="pt-2 text-center" *ngIf="!departmentsLoading && !departments.length">
                            {{'tr_there_are_no_departments' | translate}}
                          </div>
                        </ng-template>
                        <ng-template ng-footer-tmp>
                          <div class="mb-2" *ngIf="departmentsLoading">
                            <app-ghost-line [height]="10" [length]="3" [width]="100" [type]="'list'"></app-ghost-line>
                          </div>
                        </ng-template>
                      </ng-select>
                      <i class="fa fa-caret-down input-icon"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row border-bottom mt-4">
              <div class="col-md-6">
                <div class="weight-bold">{{'tr_employees' | translate}}</div>
                <div class="text-center flex flex-middle flex-center" *ngIf="employeesList.length <= 0">
                  <div class="ptb-2 plr-2">
                    <img src="assets/images/placeholders/zones.svg" alt="">
                    <p class="size-tiny weight-bold mt-3">
                      {{'tr_employees_empty_state' | translate}}
                    </p>
                  </div>
                </div>
                <div class="mt-4 employees-container">
                  <div class="flex flex-middle mb-4" *ngFor="let employee of employeesList; let i=index">
                    <span class="s-checkbox">
                      <input type="checkbox" id="employee-id-{{i}}" name="employee"
                        (change)="assignEmployeeIngroup($event,employee)">
                      <label for="employee-id-{{i}}"></label>
                    </span>
                    <h1 class="size-small ml-1">{{employee.name}}</h1>
                  </div>
                  <div
                    *ngIf="employeesPaginationData.next_page && employeesPaginationData.total_count > employeesList.length && employeesList.length > 0"
                    class="text-link text-center pb-4 pl-2 pointer " (click)="nextpage()">
                    {{'tr_load_more' | translate}}
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <!-- <div class="flex flex-middle flex-space-between pr-7">
                      <h2 class="weight-bold size-small">
                          {{'tr_employees' | translate}}
                      </h2>
                      <h2 class="weight-bold size-small">
                        {{'tr_time_schedule' | translate}}
                    </h2>
                      <h2 class="weight-bold size-small">
                          {{'tr_action.remove' | translate}}
                      </h2>
                     
                  </div> -->
                <table class="table s-table layout-fixed">
                  <thead>
                    <th>
                      {{'tr_employees' | translate}}
                    </th>
                    <th>
                      {{'tr_time_schedule' | translate}}
                    </th>
                    <th> {{'tr_action.remove' | translate}}</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let timegroupEmployee of timeGroupsEmployees; let i=index">
                      <td>{{timegroupEmployee.name}}</td>
                      <td>add time group</td>
                      <td>
                        <div class="text-center width-100 pointer" (click)="removeEmployeeFromGroup(timegroupEmployee)">
                          <img src="assets/images/delete-icon.svg">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- <div class="mt-4 users-container pr-6">
                      <div *ngFor="let timegroupEmployee of timeGroupsEmployees; let i=index">
                      
                          <div class="flex flex-middle flex-space-between mb-4">
                              <div class="width-100">{{timegroupEmployee.name}}</div>
                              <div>
                                <span class="hover-link">add time group</span>
                              </div>
                              <button class="s-btn btn-secondary btn-link btn-sm">+</button>
                              <div class="width-100 text-center">
                                  <span class="s-checkbox">
                                      <input type="checkbox" id="timegroupEmployee-id-{{i}}" [(ngModel)]="member.is_admin">
                                      <label for="timegroupEmployee-id-{{i}}"></label>
                                  </span>
                              </div> 
                              <div class="text-center width-100 pointer" (click)="removeEmployeeFromGroup(timegroupEmployee)">
                                <img src="assets/images/delete-icon.svg">
                            </div>
                          </div>
                      </div>
                  </div>  -->

              </div>
            </div>
          </div>
        </div>



        <div class="modal-footer text-right">
          <button class="s-btn btn-primary btn-sm mr-3" type="submit" [disabled]="isFormSubmitted">
            {{'tr_action.save' | translate}}</button>
          <button class="s-btn btn-secondary btn-sm" (click)="closeModal()"> {{'tr_action.cancel'| translate}}</button>
        </div>

      </form>


    </div>
  </div>
</div>
