<div class="scroll-btns-wrapper">
        <div class="full-screen-btn mr-4" *ngIf="!disableFullScreen">
                <button (click)="fullScreen()" class="s-btn btn-secondary btn-sm plr-2 bg-white">
                    <i class="fa fa-expand" aria-hidden="true"></i>
                </button>
            </div>
            <div class="btn-group size-lead weight-bold scroll-btns rtl-rotate">
                <button class="s-btn btn-secondary btn-sm btn-with-icon bg-white" (click)="GradebookScrollPrev()">
                    <div class="fa fa-caret-left rtl-rotate"></div>
                </button>
                <button class="s-btn btn-secondary btn-sm btn-with-icon bg-white" (click)="GradebookScrollNext()">
                    <div class="fa fa-caret-right rtl-rotate"></div>
                </button>
            </div>
</div>
