<div class="content-shadow bg-white mb-5">
  <h2 class="size-body title-with-btn plr-4 ptb-4">
    <span class="page-title"> {{'tr_attendance_sheets' | translate }}</span>

    <div>
      <button class="s-btn size-small btn-primary mr-2 mtb-2-mob" (click)="uploadSheet()">
        <i class="fa fa-plus mr-2"></i>
        {{ 'tr_upload_sheet' | translate }}
      </button>
      <a class="s-btn size-small btn-secondary" href="https://skolera-publicnew.s3.eu-west-1.amazonaws.com/Demo+Template.xlsx">
        <i class="fa fa-download mr-2"></i>
        {{ 'tr_download_template' | translate }}
      </a>

    </div>

  </h2>
  <div *ngIf="!sheetsLoading">
    <div class="table-container plr-3 mt-5" id="table-container" *ngIf="sheets.length > 0">
      <table class="s-table table layout-fixed">
        <thead>
          <th>
            {{"tr_name" | translate}}
          </th>
          <th>
            {{"tr_start_date" | translate}}
          </th>
          <th>
            {{"tr_end_date" | translate}}
          </th>
          <th>
            {{"tr_national_holidays" | translate}}
          </th>
          <th>
            {{"tr_state" | translate}}
          </th>
          <th>
            {{"tr_sync" | translate}}
          </th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let sheet of sheets">
            <td>
              {{sheet.uploaded_file.name}}
            </td>

            <td>
              {{sheet.start_date | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              {{sheet.end_date | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              <div class="flex flex-middle flex-wrap">
                <span class="selected-item-no-border ml-1 plr-1 bg-secondary"
                  *ngFor="let nationalHoliday of sheet.national_holidays | slice:0:2">
                  {{nationalHoliday.day}}
                </span>
                <span class="options-menu ml-2">
                  <div *ngIf="sheet.national_holidays.length > 2">
                    + {{sheet.national_holidays.length - 2}}
                  </div>
                  <div class="options-menu-container">
                      <div class="single-option"
                      *ngFor="let nationalHoliday of sheet.national_holidays | slice:2:sheet.national_holidays.length">
                      <div class="selected-item-no-border mb-1 bg-secondary"> {{nationalHoliday.day}}</div>
                    </div>
                  </div>
                </span>

              </div>

            </td>
            <td>



              <span [ngClass]="{'options-menu': (sheet.state == 'validation_failed' || sheet.state == 'sync_failed' || sheet.state == 'sync_succeeded')}">

                <div
                  [ngClass]="{'text-error hover-link open-modal': (sheet.state == 'validation_failed' || sheet.state == 'sync_failed') ,'text-success': (sheet.state == 'validation_succeeded' || sheet.state == 'sync_succeeded')}">
                  {{"tr_"+sheet.state | translate}}
                </div>
                <div class="options-menu-container" *ngIf="(sheet.state == 'validation_failed' || sheet.state == 'sync_failed' || sheet.state == 'sync_succeeded')">
                  <div class="ptb-3 plr-2 options-menu-wrapper">
                    <span class="weight-bold text-primary mb-1">{{ 'tr_logs' | translate }}</span>
                    <p *ngFor="let sheetLog of sheet.logs" class="mb-1 weight-normal size-small">
                      <span>{{ sheetLog }}</span>
                    </p>
                  </div>
                </div>
              </span>


            </td>
            <td>
              <button class="s-btn btn-secondary btn-sm" (click)="startSync(sheet)" [disabled]="isSyncing"
                *ngIf="sheet.state=='validation_succeeded'">{{"tr_start_sync" | translate}}</button>
            </td>
            <td>
              <span class="options-menu">
                <i class="fa fa-ellipsis-v"></i>
                <div class="options-menu-container">
                  <a class="single-option text-success width-100" href="{{sheet.uploaded_file.download_url}}">
                    {{ 'tr_action.download' | translate }}
                  </a>
                </div>
              </span>
            </td>

          </tr>
        </tbody>

      </table>

    </div>
    <div class="empty-state-here text-center mtb-8" *ngIf="sheets.length == 0">
      <img class="placeholder-icon" src="assets/images/placeholders/Content.svg" alt="">
      <p> {{'tr_empty_state' | translate}}</p>
    </div>

    <div class="plr-4 ptb-4">
      <skolera-pagination [paginationData]="paginationData" [perPage]="paginationPerPage"
        (paginationUpdate)=paginationUpdate($event)></skolera-pagination>
    </div>
  </div>
  <div *ngIf="sheetsLoading">
    <app-ghost-line [length]="12" [type]="'table'"></app-ghost-line>
  </div>


</div>