table{
    td, th {
        &:nth-child(1){
            width: 7rem;
        }
        &:nth-child(2){
            width: 4rem;
        }
        &:nth-child(3){
            width: 4rem;
        }
        &:nth-child(4){
            width: 8rem;
        }
        &:nth-child(5){
            width: 5rem;
        }
        &:nth-child(6){
            width: 5rem;
        }
        &:nth-child(7){
            width: 1rem;
        }
     }
}