<div class="content-shadow bg-white mb-5">
    <h2 class="size-body title-with-btn plr-4 ptb-4">
        <span class="page-title"> {{'tr_attendance_sheets' | translate }}</span>
   
      <div class="btn-group">
        <button class="s-btn size-small btn-secondary" (click)="uploadSheet()">
          <i class="fa fa-plus mr-2"></i>
          {{ 'tr_upload_sheet' | translate }}
        </button>
      </div>

    </h2>
    <div class="table-container" id="table-container">
        <table class="s-table table layout-fixed">
          <thead>
            <th>
              Sheet Name
            </th>
            <th>
                Start date
            </th>
            <th>
                End date
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
             
              </td>
               
              <td>
                
              </td>
              <td>
               
              </td>

            </tr>
          </tbody>

        </table>

      </div>
    </div>
