<div class="complex-skolera-modal language-switcher-modal">
  <div class="modal-wrapper">
    <div class="close-modal-icon" (click)="closeModal()"></div>
    <div class="modal-content">
      <form #attendanceSheetForm="ngForm" (ngSubmit)="submitForm()">
        <div class="modal-header">
          <h3 class="steel weight-bold size-default m-0">
            {{'tr_upload_sheet' | translate}}
          </h3>
        </div>
        <div class="modal-body weight-medium steel">
          <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label class="text-small mb-2"> {{'tr_excel_sheet' | translate}} </label>
                <div class="flex flex-middle" >
                  <div>
                    <label [class.border-error]="(attendanceSheetForm.submitted && sheetFile == null)" [for]="'id'" class="pointer single-attachment-with-safe text-center mr-4 mb-0">
                      <input type="file" [id]="'id'"  class="d-none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  name="uploadedFile" #uploadedFile="ngModel" [(ngModel)]="sheetFile" [disabled]="isFileLoading || sheetFile" (change)="fileInputChange($event)" required>
                      <div class="flex flex-middle">
                        <img class="mr-1" src="assets/images/teacher-upload-img.svg" alt="">
                        <span [class.text-error]="(attendanceSheetForm.submitted && sheetFile== null)"
                          class="text-link mb-1 weight-medium size-tiny">{{'tr_upload_excel_sheet' | translate}}</span>
                      </div>
                    </label>
                    <span class="text-error size-small mt-1 " *ngIf="(attendanceSheetForm.submitted && sheetFile== null)">
                      {{'tr_required_field' | translate}}
                    </span>
                  </div>
                  <div class="box-vertical-line mr-4"></div>
                  <div class="single-attachment file-box mr-2" *ngIf="sheetFile">
                      <div class="single-attachment-container">
                          <div class="close-icon remove-file" (click)="deleteUploadedFile(sheetFile)" *ngIf="!isFileUpdating"></div>
                          <div class="width-100 flex flex-middle">
                              <div class="file-icon xlsx mr-2">
                              </div>
                              <p class="size-tiny file-name-dotted steel">{{sheetFile.name}}</p>
                          </div>
                          <div class="file-status-container" [ngClass]="{'file-loading': isFileLoading, 'file-success': isFileSuccess, 'file-error': isFileHasError, 'file-has-status': (isFileLoading|| isFileSuccess|| isFileHasError)}">
                            <div class="file-status-message">
                                <i class="success-icon status-icon fa fa-check" *ngIf="isFileSuccess"></i>
                                <i class="error-icon status-icon fa fa-warning" *ngIf="isFileHasError"></i>
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group"  [class.has-error]="(startDate.invalid && startDate.dirty) || (attendanceSheetForm.submitted && startDate.invalid)">
                <label class="text-small"> {{'tr_start_date' | translate}} </label>
                <div class="input-with-icon inline-block width-100">
                  <input placeholder="{{'tr_choose_a_date' | translate}}" #startDate="ngModel" [max]="sheet.end_date" [(ngModel)]="sheet.start_date"
                    [matDatepicker]="pickId2" class="s-control" name="startDate" (dateChange)="resetNationalHolidays()" required>
                  <mat-datepicker #pickId2></mat-datepicker>
                  <mat-datepicker-toggle class="input-icon date-picker" [for]="pickId2"></mat-datepicker-toggle>
                </div>
                <span class="text-error size-small mt-1  validator">
                  {{'tr_required_field' | translate}}
                </span>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" [class.has-error]="(endDate.invalid && endDate.dirty) || (attendanceSheetForm.submitted && endDate.invalid)">
                <label class="text-small"> {{'tr_end_date' | translate}} </label>
                <div class="input-with-icon inline-block width-100">
                  <input placeholder="{{'tr_choose_a_date' | translate}}" [min]="sheet.start_date" [(ngModel)]="sheet.end_date"
                    [matDatepicker]="pickId" class="s-control" name="endDate" #endDate="ngModel" (dateChange)="resetNationalHolidays()" required>
                  <mat-datepicker #pickId></mat-datepicker>
                  <mat-datepicker-toggle class="input-icon date-picker" [for]="pickId"></mat-datepicker-toggle>
                </div>
                <span class="text-error size-small mt-1  validator">
                  {{'tr_required_field' | translate}}
                </span>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="text-small"> {{"tr_national_holidays_dates" | translate}} </label>
                <div class="input-with-icon inline-block width-100">
                  <input placeholder="{{'tr_choose_a_date' | translate}}"  [(ngModel)]="nationalHolidayDate" [min]="sheet.start_date" [max]="sheet.end_date" [disabled]="!sheet.start_date || !sheet.end_date" (dateChange)="addHoliday($event.value)"
                    [matDatepicker]="pickId3" class="s-control" name="holidays_date" required>
                  <mat-datepicker #pickId3></mat-datepicker>
                  <mat-datepicker-toggle class="input-icon date-picker" [for]="pickId3"></mat-datepicker-toggle>
                </div>

              </div>
            </div>
            <div class="col-md-12">
              <div class="selected-item-no-border mr-2 bg-secondary mt-2" *ngFor="let holiday of this.sheet.national_holidays">
                {{holiday.day | date: 'dd MMM yyyy' }}
                <img class="close-icon ml-1" (click)="removeHoliday(holiday)" src="assets/images/remove.svg">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer text-right">
          <button class="s-btn btn-primary mr-3" type="submit" [disabled]="isFileLoading || isFileUploading">
            {{'tr_action.save' | translate}}</button>
          <button class="s-btn btn-secondary" type="reset" (click)="closeModal()"> {{'tr_action.cancel'| translate}}</button>
        </div>

      </form>
    </div>
  </div>
</div>
