<div class="">
  <form action="" #timeGroupForm="ngForm" (ngSubmit)="updateTimeGroup()">
    <div class="bg-white mb-4 plr-4 ptb-4 content-shadow">
      <h3 class="steel weight-bold size-default m-0 title-with-btn">
        {{'tr_edit_time_group' | translate}}
        <div>
          <button class="s-btn btn-primary btn-sm mr-3" type="submit" [disabled]="isFormSubmitted">
            {{'tr_action.save' | translate}}</button>
          <button type="reset" class="s-btn btn-secondary btn-sm" [routerLink]="['/time-groups']">
            {{'tr_action.cancel'| translate}}
          </button>
        </div>
      </h3>
      <div class="ptb-4">
        <div *ngIf="!timeGroupLoading">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group"
                [class.has-error]="(name.invalid && name.dirty) || (timeGroupForm.submitted && name.invalid)">
                <label>{{'tr_group_name' | translate}}</label>
                <input type="text" [(ngModel)]="timeGroup.name" name="name" #name="ngModel" required class="s-control">
                <span class="text-error size-small ml-2 validator">
                  {{'tr_required_field' | translate}}
                </span>
              </div>
  
  
            </div>
            <div class="col-md-6">
              <label>{{'tr_group_type' | translate}}</label>
              <div class="mt-2 flex flex-middle flex-space-between max-600">
                <div class="flex flex-middle flex-wrap">
                  <span class="s-radio size-small mr-4">
                    <input type="radio" [(ngModel)]="timeGroup.group_type" name="group-type" value="fixed" id="fixed-type"
                      disabled>
                    <label for="fixed-type">
                      <span class="capitalize">{{'tr_fixed' | translate}}</span>
                    </label>
                  </span>
                  <span class="s-radio size-small">
  
                    <input type="radio" [(ngModel)]="timeGroup.group_type" name="group-type" value="shifts"
                      id="shifts-type" disabled>
                    <label for="shifts-type">
                      <span class="capitalize">{{'tr_shifts' | translate}}</span>
                    </label>
                  </span>
  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{'tr_rule' | translate}}</label>
                <div class="input-with-icon bg-white width-100">
                  <ng-select class="s-control s-select" (scrollToEnd)=nextRulesBatch() bindLabel="name"
                    [loading]="rulesLoading" placeholder="{{'tr_select' | translate}}"
                    notFoundText="{{'tr_no_items_found' | translate}}" autofocus
                    [(ngModel)]="timeGroup.rule" [items]="rules"
                    name="rules">
                    <ng-template ng-header-tmp>
                      <div class="pt-2 text-center" *ngIf="!rulesLoading && !rules.length">
                        {{'tr_there_are_no_rules' | translate}}
                      </div>
                    </ng-template>
                    <ng-template ng-footer-tmp>
                      <div class="mb-2" *ngIf="rulesLoading">
                        <app-ghost-line [height]="10" [length]="3" [width]="100" [type]="'list'"></app-ghost-line>
                      </div>
                    </ng-template>
                  </ng-select>
                  <i class="fa fa-caret-down input-icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="timeGroupLoading">
          <app-ghost-line [height]="10" [width]="100" [type]="'line'"></app-ghost-line>
        </div>
      </div>
      <div class="border-box plr-4 ptb-2 mb-4" *ngIf="timeGroup.group_type == 'fixed'">
        <div *ngIf="!timeGroupLoading">
          <h3 class="steel weight-bold size-default mb-2"> {{'tr_add_time_schedule' | translate}}</h3>
          <div class="pr-6">
  
            <app-time-schedule-form (returnedScheduleDays)="updatetimeGroupScheduleDays($event)"
              [invalidAllDaysTime]="invalidAllDaysTime"
              [scheduleDays]="timeGroup.time_group_schedule_attributes!.schedule_days_attributes!"
              [timeScheduleLoading]="timeGroupLoading">
            </app-time-schedule-form>
          </div>
        </div>
      </div>
    </div>
 
    <div class="bg-white plr-4 ptb-4 mb-4 content-shadow">
      <div class="assign-employees-section">
        <h3 class="steel weight-bold size-default title-with-btn mb-4">{{'tr_assign_employees' | translate}}

          <div>
            <button class="s-btn btn-primary btn-sm mr-3" type="button" (click)="updateTimeGroupEmployees()">
              {{'tr_action.save' | translate}}</button>
            <button type="reset" class="s-btn btn-secondary btn-sm" [routerLink]="['/time-groups']">
              {{'tr_action.cancel'| translate}}
            </button>
          </div>
        </h3>

        <div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'tr_number' | translate}}</label>
                <div class="input-with-icon bg-white width-100">
                  <input class="text" (keyup)="filterEmployees($event,'by_number')" class="s-control"
                    placeholder="{{'tr_search_by_number' | translate}}">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'tr_name' | translate}}</label>
                <div class="input-with-icon bg-white width-100">
                  <input class="text" class="s-control" (keyup)="filterEmployees($event,'by_name')"
                    placeholder="{{'tr_search_by_name' | translate}}">
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>{{'tr_department' | translate}}</label>
                <div class="input-with-icon bg-white width-100">
                  <ng-select class="s-control s-select"
                    (change)="filterEmployees(selectedDepartment,'by_department_id')" bindValue="id"
                    (scrollToEnd)=nextBatch() bindLabel="name" [loading]="departmentsLoading"
                    placeholder="{{'tr_select' | translate}}" notFoundText="{{'tr_no_items_found' | translate}}"
                    (clear)="filterEmployees('','by_department_id')" autofocus [(ngModel)]="selectedDepartment"
                    [items]="departments" name="department">
                    <ng-template ng-header-tmp>
                      <div class="pt-2 text-center" *ngIf="!departmentsLoading && !departments.length">
                        {{'tr_there_are_no_departments' | translate}}
                      </div>
                    </ng-template>
                    <ng-template ng-footer-tmp>
                      <div class="mb-2" *ngIf="departmentsLoading">
                        <app-ghost-line [height]="10" [length]="3" [width]="100" [type]="'list'"></app-ghost-line>
                      </div>
                    </ng-template>
                  </ng-select>
                  <i class="fa fa-caret-down input-icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row border-bottom mt-4">
          <div class="col-md-6">
            <div class="weight-bold">{{'tr_employees' | translate}}</div>
            <div class="text-center flex flex-middle flex-center"
              *ngIf="!employeesLoading && employeesList.length <= 0">
              <div class="ptb-2 plr-2">
                <img src="assets/images/placeholders/zones.svg" alt="">
                <p class="size-tiny weight-bold mt-3">
                  {{'tr_empty_state' | translate}}
                </p>
              </div>
            </div>
            <div class="mt-4 employees-container" *ngIf="!employeesLoading">
              <div class="flex flex-middle mb-4" *ngFor="let employee of employeesList; let i=index">
                <span class="s-checkbox">
                  <input type="checkbox" id="employee-id-{{i}}" name="employee"
                    (change)="assignEmployeeIngroup($event,employee)">
                  <label for="employee-id-{{i}}"></label>
                </span>
                <h1 class="size-small ml-1">{{employee.name}}</h1>
              </div>
              <div
                *ngIf="employeesPaginationData.next_page && employeesPaginationData.total_count > employeesList.length && employeesList.length > 0"
                class="text-link text-center pb-4 pl-2 pointer " (click)="nextpage()">
                {{'tr_load_more' | translate}}
              </div>
            </div>
            <div class="mtb-4" *ngIf="employeesLoading">
              <app-ghost-line [height]="10" [length]="20" [width]="300" [type]="'list'"></app-ghost-line>
            </div>
          </div>
          <div class="col-md-6" *ngIf="!employeesLoading">
            <table class="table s-table employees-table layout-fixed">
              <thead>
                <th>
                  {{'tr_employees' | translate}}
                </th>
                <th class="text-center">
                  {{'tr_time_schedule' | translate}}
                </th>
                <th class="text-center" *ngIf="timeGroup.group_type == 'shifts'"> {{'tr_action.remove' | translate}}
                </th>
              </thead>
              <tbody *ngIf="timeGroup.employees!.length > 0">
                <tr *ngFor="let timegroupEmployee of timeGroup.employees!; let i=index">
                  <td>{{timegroupEmployee.name}}</td>
                  <td class="text-center" *ngIf="timeGroup.group_type == 'shifts'">
                    <button class="s-btn btn-link" type="button" (click)="openTimeScheduleModal(timegroupEmployee)">
                      {{'tr_time_schedule' | translate}} </button>
                  </td>
                  <td class="text-center">
                    <div class="flex flex-middle flex-center pointer"
                      (click)="removeEmployeeFromGroup(timegroupEmployee)">
                      <img src="assets/images/delete-icon.svg">
                      <span class="text-error ml-2">{{'tr_action.delete' | translate}}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>

  </form>
</div>
