@import '_initializer';

.grading-category-container{
    overflow-x: scroll;
    width: calc(100% - 50px);
}
.grading-period-container {
    border: 1px solid #d8dde6;
}

.Semester-container {
    border-radius: 2px;
    width: 270px;

    .name-input,
    .category-input,
    .grade-input,
    .date-input {
        border: none;
        background-color: transparent;
        padding: 0.3rem;

        &::placeholder {
            color: $text;
        }

        &:focus {
            box-shadow: none !important;
            background-color: transparent;
        }
    }

    .grade-input {
        width: 40px;
        // padding-left: 0px !important;
        // padding-right: 0px !important;
        border-radius: 0px;

        &:focus {
            box-shadow: none !important;
            background-color: #d8dde6;
        }
    }

    .name-input {
        border-radius: 0px;
        height: 1.1rem;
    }

    .category-input {
        border-radius: 0px;
    }

    .semester-title {
        border: 1px solid $border;
    }

    .add-sub {
        border-bottom: 1px solid $border;
    }

    .single-category {
        border-bottom: 1px solid $border;
        position: relative;
        @extend %option-icons;
    }

    .single-quarter {
        border-bottom: 2px solid $border;
        border-top: 1px solid $border;
        position: relative;
        @extend %option-icons;
    }

    %option-icons {
        .delete-icon {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 20px;
            height: 20px;
            margin: auto;
            cursor: pointer;
            opacity: 0;
        }

        .dotes-icon {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 20px;
            height: 20px;
            margin: auto;
            cursor: pointer;
            opacity: 0;
        }
    }

    .single-quarter-title {
        border-bottom: 1px solid $border;

    }
}

/deep/ .mat-button-wrapper {
    display: none;
}

.table-container {
    position: relative;
}

.scale-table {
    .title-cell {
        position: absolute;
        width: 7rem;
        z-index: 1;
        padding-top: 2.4rem !important;
    }

    .title-cell-modal {
        position: absolute;
        width: 7rem;
        z-index: 1;
    }

    .grades-container {
        max-width: 625px;
        overflow: auto;
    }

    td {
        position: relative;
        padding: 0.5rem 0rem !important;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-bottom: 1px solid transparent;

        .low,
        .high,
        .scale {
            padding: 0.6rem 0.5rem !important;
            border-bottom: 1px solid #d8dde6;
            height: 3.5rem;
        }

        .low:first-child,
        .high:first-child,
        .scale:first-child {
            border-top: 1px solid #d8dde6;
        }

        .delete-icon {
            position: absolute;
            bottom: -26px;
            width: 14px;
            height: 20px;
            margin: auto;
            right: 0;
            left: 0;
            opacity: 0;
            cursor: pointer;
        }

        .dotes-icon {
            position: absolute;
            top: -30px;
            width: 20px;
            height: 20px;
            margin: auto;
            left: 0;
            right: 0;
            cursor: pointer;
            opacity: 0;
        }
    }

}

.low-input,
.high-input,
.scale-input {
    height: 2rem !important;
    width: 2.18rem !important;
    border-radius: 2px;
    border: 1px solid #d8dde6;
    padding: 0;
    text-align: center;
    margin: 0 auto;
}

.low-input {
    background-color: #d8dde6;
    border-color: #d8dde6;
}


.single-passlimit-title:hover{
    .actions-container {
      opacity: 1;
    }
}

.actions-container {
    opacity: 0;
    img{
        width: 14px;
    }
}


// actor styles
@mixin actorStyles($primary, $secondary, $from, $to, $siteBackground) {

    .select-grading-category {
     border: 1px solid $primary;
     
    }
    .add-sub,
    .scale-title {
        color: $primary;
    }


    .single-quarter:focus-within,
    .single-category:focus-within {
        border-left-color: $primary !important;
        border-bottom-color: $primary !important;
        border-right-color: $primary !important;
        border-top-color: $primary !important;

        .date-input {
            color: $primary !important;

            &::placeholder {
                color: $primary !important;
            }
        }

        .delete-icon,
        .dotes-icon {
            opacity: 1 !important;
        }
    }

    td:focus-within {

        .low,
        .high,
        .scale {
            border-color: transparent !important;
        }

        .delete-icon,
        .dotes-icon {
            opacity: 1 !important;
        }

        & {
            border-top-color: $primary !important;
            border-bottom-color: $primary !important;
            border-left-color: $primary !important;
            border-right: 1px solid $primary !important;
        }
    }

    .add-grade-scale {
        width: 35px;
        height: 138px;
        border-radius: 4px;
        font-size: 32px;
        color: #fff;
        margin-left: auto;
        background-color: $primary;
    }

    .edit-text {
        color: $primary;
    }
}

@mixin biDirectional($start, $end) {

    .add-sub,
    .single-category,
    .single-quarter {
        border-#{$start}: 4px solid $border;
        border-#{$end}: 1px solid $border;
    }

    // .category-input,
    // .name-input, .weight-input {
    //     border-#{$end}: 1px solid $border !important;
    // }
    .grade-input{
        border-#{$start}: 1px solid $border !important;
    }

    .single-quarter:focus-within,
    .single-category:focus-within {
        border-#{$start}-width: 8px !important;
    }

    .scale-table {
        margin-#{$start}: 7rem;
    }

    .title-cell,
    .title-cell-modal {
        #{$start}: 0;
    }

    %option-icons {
        .delete-icon {
            #{$end}: -27px;
        }

        .dotes-icon {
            #{$start}: -36px;
        }
    }
}

@import 'directions/decide';

// decide which theme
@import 'themes/decide';