<div class="sidebar-background" (click)="closeSidebar()"></div>
<div class="main-sidebar">
    <div class="app-sidebar">
        <div class="whitelabel-container">
            <a href="https://skolera.com/en/Default.aspx" target="_blank">
                <img [ngClass]="{'flip-logo': this.globals.currentUser.locale=='ar'}" src="{{whitelabelUrl}}" alt="">
            </a>
        </div>
        <div class="user-picture max-center mb-5">
            <img class="contain-full" [src]="globals.currentSchool.avatar_url" alt="">
        </div>

        <div class="main-routing-links">
            <div *ngFor="let link of appSidebar" routerLinkActive="active-link" class="anchor-container">
              <div *ngIf="!link.notImplemented">
                <a [routerLink]="link.routerLink">
                  <div class="link-content">
                    <span [class]="link.icon"></span>
                    <span class="main-icon-text">
                            {{ link.name | translate }}
                        </span>
                  </div>
                </a>
              </div>
              <div *ngIf="link.notImplemented">
                <a (click)="notImplementedYet()">
                  <div class="link-content">
                    <span [class]="link.icon"></span>
                    <span class="main-icon-text">
                            {{ link.name | translate }}
                        </span>
                  </div>
                </a>
              </div>
                <span *ngIf="link.children" class="fa fa-caret-down children-arrow" (click)="toggleChildren($event)">
                </span>
                
            </div>
        </div>
        <div class="user-picture max-center mt-10" *ngIf="this.globals.currentUser.actable_type == 'Student'">
            <img class="contain-full" [src]="globals.currentSchool.avatar_url" alt="">
        </div>
    </div>
