<div class="header-container inline-block-100 flex flex-space-between">
    <div class="flex flex-middle app-journal-container width-100">
        <span class="fa fa-bars mr-4 menu-icon no-select text-primary hidden-desktop"></span>
        <div class="inline-block width-100 app-journal-wrapper">
            <div class="app-journal flex flex-middle">
                <div class="dragon-image hidden-desktop">
                    <img src="assets/images/skolera-corona.png" skolera-tooltip
                        tooltipContent="Stay Home! Stay Safe!" alt="">
                </div>
                <div class="dragon-image hidden-mobile">
                    <img src="assets/images/skolera-corona.png" alt="">
                </div>
                <div class="app-journal-text hidden-mobile">
                    <p class="text-block text-primary weight-bold">
                        {{'tr_dragon_messages.message_corona' | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="header-boxes-container inline-block prevent-flex-shrink">
        <div class="single-header-box header-options-menu">
            <span class="fa fa-caret-down options-menu">
                <div class="options-menu-container size-small weight-bold">
                    <div class="single-option flex flex-middle">
                        <i class="fa fa-language steel" aria-hidden="true"></i>
                        {{'tr_language' | translate}}
                    </div>
                    <div class="single-option flex flex-middle text-error logout" >
                        <img src="assets/images/logout-ico.svg" alt="">
                      {{'tr_signin.logout' | translate}}
                    </div>
                </div>
            </span>
        </div>


        <div class="single-header-box hidden-mobile">
            <i class="fa fa-language" aria-hidden="true"></i>
        </div>
      
    

    </div>
</div>
