<div>
    <div class="mt-4 plr-6">
      <div class="portlet bg-white mb-3 mb-md-4">
        <div  class="d-flex justify-content-between py-3 py-md-3 px-3 px-md-4">
          <div class="d-flex flex-grow-1 align-items-center pr-3">
            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
              <div class="d-flex flex-column order-1 order-md-2">  
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <div class="exam-card-name mr-2">
                    <app-ghost-line [length]="60" [height]="10"></app-ghost-line>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="exam-card-date">
                    <app-ghost-line [length]="40" [height]="6"></app-ghost-line>
                  </span>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between py-2 py-md-3 px-3 px-md-4 border-top">
          <div class="d-flex flex-wrap justify-content-between justify-content-md-start align-items-center">
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="portlet bg-white mb-3 mb-md-4">
        <div  class="d-flex justify-content-between py-3 py-md-3 px-3 px-md-4">
          <div class="d-flex flex-grow-1 align-items-center pr-3">
            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
              <div class="d-flex flex-column order-1 order-md-2">  
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <div class="exam-card-name mr-2">
                    <app-ghost-line [length]="60" [height]="10"></app-ghost-line>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="exam-card-date">
                    <app-ghost-line [length]="40" [height]="6"></app-ghost-line>
                  </span>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between py-2 py-md-3 px-3 px-md-4 border-top">
          <div class="d-flex flex-wrap justify-content-between justify-content-md-start align-items-center">
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="portlet bg-white mb-3 mb-md-4">
        <div  class="d-flex justify-content-between py-3 py-md-3 px-3 px-md-4">
          <div class="d-flex flex-grow-1 align-items-center pr-3">
            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
              <div class="d-flex flex-column order-1 order-md-2">  
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <div class="exam-card-name mr-2">
                    <app-ghost-line [length]="60" [height]="10"></app-ghost-line>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="exam-card-date">
                    <app-ghost-line [length]="40" [height]="6"></app-ghost-line>
                  </span>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between py-2 py-md-3 px-3 px-md-4 border-top">
          <div class="d-flex flex-wrap justify-content-between justify-content-md-start align-items-center">
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="portlet bg-white mb-3 mb-md-4">
        <div  class="d-flex justify-content-between py-3 py-md-3 px-3 px-md-4">
          <div class="d-flex flex-grow-1 align-items-center pr-3">
            <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center">
              <div class="d-flex flex-column order-1 order-md-2">  
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                  <div class="exam-card-name mr-2">
                    <app-ghost-line [length]="60" [height]="10"></app-ghost-line>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <span class="exam-card-date">
                    <app-ghost-line [length]="40" [height]="6"></app-ghost-line>
                  </span>
                </div>
              </div>  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between py-2 py-md-3 px-3 px-md-4 border-top">
          <div class="d-flex flex-wrap justify-content-between justify-content-md-start align-items-center">
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
            <div class="d-flex flex-grow-1 align-items-center mr-4 py-2 py-md-0">
              <app-ghost-line [length]="20" [height]="6"></app-ghost-line>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>